# Project config
PROJECT=infra-practice

# Postgres
PG_USER=devuser
PG_PASS=devpass123
PG_DB=strapi_dev
PG_PORT=5432
PG_VER=16.4-alpine

# Strapi
STRAPI_PORT=1337
STRAPI_JWT_SECRET=secret
STRAPI_ADMIN=admin@local
STRAPI_PASS=admin123
APP_KEYS=internalKey1,internalKey2,internalKey3
API_TOKEN_SALT=super_secret_salt_12345
TRANSFER_TOKEN_SALT=another_secret_67890
ADMIN_JWT_SECRET=my_super_jwt_secret_prod_ready

# Astro
ASTRO_PORT=3000

# HAproxy
HPX_PORT=80
HPX_STATS=8404
HPX_VER=2.8.11-alpine

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_MAIL=admin@example.com
PGADMIN_PASS=admin
PGADMIN_VER=8.12

# Backup
BACKUP_DIR=./backups
KEEP_DAYS=7
