global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend http_front
    bind *:80

    acl is_strapi path_beg /api /admin /uploads /content-manager /content-type-builder
    use_backend strapi_back if is_strapi
    default_backend astro_back

backend astro_back
    balance roundrobin

    option httpchk
    http-check send meth GET uri / ver HTTP/1.1 hdr Host localhost
    http-check expect rstatus (2|3|4)[0-9][0-9]

    server-template astro 5 astro:3000 check resolvers docker resolve-prefer ipv4


backend strapi_back
    balance roundrobin

    option httpchk
    http-check send meth GET uri /admin ver HTTP/1.1 hdr Host localhost
    http-check expect rstatus (2|3|4)[0-9][0-9]

    server-template strapi 5 strapi:1337 check resolvers docker resolve-prefer ipv4


listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123
