global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http_front
    bind *:80

    # Strapi routes
    acl is_strapi path_beg /api /admin /uploads /content-manager /content-type-builder
    use_backend strapi_back if is_strapi

    # Everything else → Astro
    default_backend astro_back


backend astro_back
    balance roundrobin

    option httpchk
    http-check send meth GET uri / ver HTTP/1.1 hdr Host localhost
    http-check expect rstatus (2|3|4)[0-9][0-9]

    server astro astro:3000 check


backend strapi_back
    balance roundrobin

    option httpchk
    http-check send meth GET uri /admin ver HTTP/1.1 hdr Host localhost
    http-check expect rstatus (2|3|4)[0-9][0-9]

    server strapi strapi:1337 check


listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123
